@import '../../../../assets/styles/variables';

.favorite-product {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #E7F1E8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .favorite-product-image {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .favorite-product-name {
    margin-left: 24px;
    font-size: 20px;
    color: $gray-text-color;
    width: 567px;
    margin-right: 20px;
  }

  .favorite-product-price {
    width: 100px;
    margin-right: 193px;
    color: $gray-text-color;
    font-size: 22px;
    font-weight: 600;
  }

  .favorite-product-action {
    margin-right: 20px;
  }

  .favorite-product-action button {
    width: 160px;
  }

  .favorite-product-remove {
    margin-left: 61px;
    cursor: pointer;
  }
}
